<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>

    <link th:href="@{/static/css/style3.css}" rel="stylesheet" type="text/css"/>
    <script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <!--		<script type="text/javascript" th:src="@{/static/js/register.js}"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <!-- <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script> -->


    <!-- ZUI 标准版压缩后的 CSS 文件 -->
    <link rel="stylesheet" th:href="@{/static/css/zui.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/zui.datagrid.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/zui.datagrid.css}"/>
    <!-- ZUI Javascript 依赖 jQuery -->
    <!--		<script th:src="@{/static/js/jquery.js}"></script>-->
    <!-- ZUI 标准版压缩后的 JavaScript 文件 -->
    <script th:src="@{/static/js/zui.min.js}"></script>
    <script th:src="@{/static/js/zui.datagrid.min.js}"></script>
    <script th:src="@{/static/js/zui.datagrid.js}"></script>
    <script th:src="@{/static/js/vue.min.js}"></script>

    <title></title>
    <style type="text/css">
        .color1 {
            background: #D3CCE3;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #E9E4F0, #D3CCE3);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }

    </style>
</head>
<body class="color1" style="height: 900px;">


<div style="height: 100px;background-color: #ffffff;">

    <h1>
        哈哈哈哈哈
    </h1>
</div>

<div style="width: 100%;" class="divapp">
    <div style="height: 80px;" class="divapp"></div>

    <div style="width: 100%;text-align: center;background-color: ;">

        <div
                style="background-color: ;width:500px ;text-align: ;margin: 0 auto;margin-left: 25px;margin-bottom: 15px;position: absolute;left: 28%;">


            <ul class="nav nav-tabs">
                <li class="active"><a style="font-size: 15px;border-radius: 15px 15px 0 0;" href="###"
                                      data-target="#tab2Content1" data-toggle="tab">登录</a></li>
                <li><a style="font-size: 15px;border-radius: 15px 15px 0 0;" href="###"
                       data-target="#tab2Content2" data-toggle="tab">注册</a></li>
                <li><a style="font-size: 15px;border-radius: 15px 15px 0 0;" href="###"
                       data-target="#tab2Content3" data-toggle="tab">找回密码</a></li>
            </ul>
            <div style="border-top-right-radius: 0px;width: 500px;" class="tab-content">
                <div class="tab-pane fade active in" id="tab2Content1">
                    <div class="panel-body" style="background-color: #F5F5F5;border-radius: 0 0 15px 15px;">
                        <div style="width: 100%;background-color: #;height: 50px;text-align: center;">
                            <h1>登录</h1>
                        </div>
                        <div class="jq22-register-form" id="">
                            <form action="">
                                <div class="jq22-register-form-item">
                                    <input type="text" name="username" maxlength="20" placeholder="账户名/邮箱"
                                           class="txt03 f-r3 required" tabindex="3"
                                           data-valid="isNonEmpty||between:3-20||isUname"
                                           data-error="<i class='icon-tips'></i>您还没有输入账户名||<i class='icon-tips'></i>用户名长度3-20位||<i class=''></i>"
                                           id="username">
                                    <label class="focus valid"></label>
                                </div>
                                <div class="jq22-register-form-item" style="background-color: ;">
                                    <input type="password" name="user_password" placeholder="密码"
                                           id="user_password" maxlength="20" class="txt04 f-r3 required"
                                           tabindex="4" style="ime-mode:disabled;" onpaste="return  false"
                                           autocomplete="off" data-valid="isNonEmpty||between:6-20||level:2"
                                           data-error="<i class='icon-tips'></i>密码太短，最少6位||<i class='icon-tips'></i>密码长度6-20位||<i class=''></i>">
                                    <label class="focus valid"></label>
                                </div>


                                <div class="jq22-register-form-item" style="display: none;">
                                    <input type="text" placeholder="动态码" maxlength="6" id="verifyNo"
                                           class="txt02 f-r3 f-fl required" tabindex="2"
                                           data-valid="isNonEmpty||isInt"
                                           data-error="<i class='icon-tips'></i>请填写正确的邮箱动态码||<i class='icon-tips'></i>请填写6位邮箱动态码">
                                    <label class="focus valid"></label>
                                </div>
                                <div class="jq22-register-form-item">
                                    <!-- <div class="protocol">注册即同意<a href="#">《用户使用协议》</a>&amp;<a href="#">《隐私权条款》</a></div> -->
                                    <input id="login-btn" class="jq22-btn-reg" placeholder=""
                                           readonly="readonly" value="登录">
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
                <div class="tab-pane fade" id="tab2Content2">
                    <div class="panel-body" style="background-color: #f5f5f5;border-radius: 0 0 15px 15px;">
                        <div style="width: 100%;background-color: #;height: 50px;text-align: center;">
                            <h1>账号注册</h1>
                        </div>
                        <div class="jq22-register-form" id="userFrom">
                            <form action="">
                                <div class="jq22-register-form-item">
                                    <input type="text" name="user_name" maxlength="20" placeholder="姓名"
                                           class="txt03 f-r3 form-control form-focus" tabindex="3" id="user_name">
                                    <label class="focus valid"></label>
                                </div>

                                <div class="jq22-register-form-item">
                                    <input type="text" name="user_number" maxlength="20" placeholder="学号"
                                           class="txt03 f-r3 form-control form-focus" tabindex="3"
                                           id="user_number">
                                    <label class="focus valid"></label>
                                </div>
                                <div class="jq22-register-form-item">
                                    <input type="password" name="pass_word" placeholder="设置密码" id="pwd"
                                           maxlength="20" class="txt04 f-r3 form-control form-focus" tabindex="4"
                                           style="ime-mode:disabled;" onpaste="return  false" autocomplete="off">
                                    <label class="focus valid"></label>
                                </div>
                                <div class="jq22-register-form-item">
                                    <input type="password" name="pass_word2" placeholder="确认密码" maxlength="20"
                                           class="txt05 f-r3 form-control form-focus" tabindex="5"
                                           style="ime-mode:disabled;" id="cpwd">
                                    <label class="focus valid"></label>
                                </div>
                                <div class="jq22-register-form-item">
                                    <input type="text" name="" maxlength="20" placeholder="专业班级"
                                           class="txt03 f-r3 form-control form-focus" tabindex="3" id="user_class">
                                    <label class="focus valid"></label>
                                </div>

                                <div class="jq22-register-form-item">
                                    <select style="height: 42px;" id="user_state" class="form-control">
                                        <option value="0">请选择身份</option>
                                        <option value="积极分子">积极分子</option>
                                        <option value="发展对象">发展对象</option>
                                        <option value="预备党员">预备党员</option>
                                        <option value="中共党员">中共党员</option>
                                        <option value="党务干部">党务干部</option>
                                        <option value="党支部书记">党支部书记</option>
                                    </select>
                                    <label class="focus valid"></label>
                                </div>

                                <div class="jq22-register-form-item">
                                    <input type="text" name="" maxlength="20" placeholder="党课班级"
                                           class="txt03 f-r3 form-control form-focus" tabindex="3"
                                           id="user_state_class">
                                    <label class="focus valid"></label>
                                </div>
								<div class="jq22-register-form-item">
									<input type="text" name="" maxlength="20" placeholder="电话"
										   class="txt03 f-r3 form-control form-focus" tabindex="3"
										   id="user_phone">
									<label class="focus valid"></label>
								</div>

                                <div class="jq22-register-form-item">

                                    <div style="width: 350px;background-color: ;height: 45px;">
                                        <input style="width: 200px;float: left;height: 45px;" id="email"
                                               type="text" name="email" placeholder="邮箱"
                                               class="txt01 f-r3 form-control form-focus" keycodes="tel"
                                               maxlength="99">
                                        <input
                                                style="width: 130px;text-indent: 0px;line-height: 30px;float: right;"
                                                id="get_code" type="button" class="btn" value="获取验证码"
                                                onClick="sendMessage1()"/>


                                    </div>
                                    <label id="emailTip" class="focus valid"></label>
                                </div>

                                <div class="jq22-register-form-item">
                                    <input type="text" placeholder="动态码" maxlength="6" id="code"
                                           class="txt02 f-r3 f-fl form-control form-focus" tabindex="2">
                                    <label class="focus valid"></label>
                                </div>
                                <div class="jq22-register-form-item">
                                    <div class="protocol">注册即同意<a href="#">《用户使用协议》</a>&amp;<a
                                            href="#">《隐私权条款》</a></div>
                                    <input id="reg-account" class="jq22-btn-reg" placeholder=""
                                           readonly="readonly" value="注册">
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="tab2Content3">
                    <div class="panel-body" style="background-color: #f5f5f5;border-radius: 0 0 15px 15px;">
                        <div style="width: 100%;background-color: #;height: 50px;text-align: center;">
                            <h1>找回密码</h1>
                        </div>
                        <div class="jq22-register-form" id="">
                            <form action="">
                                <div class="jq22-register-form-item">
                                    <div style="width: 350px;background-color: ;">
                                        <input style="width: 200px;" id="email2" type="text" name="phone"
                                               placeholder="邮箱" class="txt01 f-r3 required" keycodes="tel"
                                               tabindex="1" data-valid="isNonEmpty||isPhone"
                                               data-error="<i class='icon-tips'></i>请输入邮箱||<i class='icon-tips'></i>邮箱格式不正确"
                                               maxlength="99">

                                        <input
                                                style="width: 130px;text-indent: 0px;line-height: 30px;float: right;"
                                                id="code2" type="button" class="btn" value="获取验证码"
                                                onClick="sendMessage2()"/>
                                        <label class="focus valid">
                                            <div class="msg" style="display:none"><i
                                                    class='icon-tips'></i>您还未输入邮箱
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="jq22-register-form-item">
                                    <input type="text" placeholder="动态码" maxlength="6" id="usercode2"
                                           class="txt02 f-r3 f-fl required" tabindex="2"
                                           data-valid="isNonEmpty||isInt"
                                           data-error="<i class='icon-tips'></i>请填写正确的邮箱动态码||<i class='icon-tips'></i>请填写6位邮箱动态码">
                                    <label class="focus valid"></label>
                                </div>


                                <div class="jq22-register-form-item">
                                    <!-- <div class="protocol">注册即同意<a href="#">《用户使用协议》</a>&amp;<a href="#">《隐私权条款》</a></div> -->
                                    <input id="find-password" class="jq22-btn-reg" placeholder=""
                                           readonly="readonly" value="找回密码">
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>


</div>


<script type="text/javascript" th:inline="javascript">
    var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];

	// 定义开关变量
	var flagUser = false
	var flagNumber = false
	var flagPwd = false
	var flagCpwd = false
	var flagEmail = false
	var flagCode = false
	var flagPhone = false
	var flagClass = false
	var flagState = false
	var flagStateClass = false
    // 你需要手动初始化工具提示
    $('[data-toggle="tooltip"]').tooltip({});




    var phoneReg = /\w[-\w.+]*@([A-Za-z0-9][-A-Za-z0-9]+\.)+[A-Za-z]{2,14}/; //邮箱正则表达式
    var count2 = 60; //间隔函数，1秒执行
    var InterValObj2; //timer变量，控制时间
    var curCount2; //当前剩余秒数
    /*第一*/
    function sendMessage2() {
        var usercode2 = $.trim($('#usercode2').val()); ///密码找回验证码
        curCount2 = count2;
        var phone = $.trim($('#email2').val()); ///密码找回邮箱
        if (!phoneReg.test(phone)) {
            var msg = $.zui.messager.show("请输入有效的邮箱", {
                placement: 'center',
                type: 'success',
                time: 2000
            });
            // alert(" 请输入有效的邮箱");
            return false;
        } else {

            console.log("验证码发送！！！");
            $.ajax({
                url: "http://localhost:8881/user-info/setCode",
                dataType: "json",
                type: "get",
                data: {
                    email: phone
                },
                success: function (res) {
                    var msg = $.zui.messager.show(res.msg, {
                        placement: 'center',
                        type: 'success',
                        time: 2000
                    });
                },
                error: function () {

                    var msg = $.zui.messager.show("失败！！", {
                        placement: 'center',
                        type: 'success',
                        time: 2000
                    });
                },
            });
        }

        //设置button效果，开始计时
        $("#code2").attr("disabled", "true");
        $("#code2").val(+curCount2 + "秒再获取");
        InterValObj2 = window.setInterval(SetRemainTime2, 1000); //启动计时器，1秒执行一次
    }

    function SetRemainTime2() {
        if (curCount2 == 0) {
            window.clearInterval(InterValObj2); //停止计时器
            $("#code2").removeAttr("disabled"); //启用按钮
            $("#code2").val("重新发送");
        } else {
            curCount2--;
            $("#code2").val(+curCount2 + "秒再获取");
        }
    }

    // var phoneReg = /\w[-\w.+]*@([A-Za-z0-9][-A-Za-z0-9]+\.)+[A-Za-z]{2,14}/; //邮箱正则表达式
    var count = 60; //间隔函数，1秒执行
    var InterValObj1; //timer变量，控制时间
    var curCount1; //当前剩余秒数
    /*第一*/
    function sendMessage1() {

        curCount1 = count;
		var userNumber = $.trim($('#user_number').val());
		var userEmail = $.trim($('#email').val());
		//////邮箱验证正确
		if (flagEmail&&flagNumber) {

            //设置button效果，开始计时
            $("#get_code").attr("disabled", "true");
            $("#get_code").val(+curCount1 + "秒再获取");
            InterValObj1 = window.setInterval(SetRemainTime1, 1000); //启动计时器，1秒执行一次
			$.ajax({
				url: basePath+'/userEmail/userSendEmailCheck',
				dataType: "json",
				type: "get",
				data: {
					userNumber: userNumber,
					userEmail: userEmail,

				},
				success: function (res) {

					var userLoginFlag = res.userLoginFlag;
					var userNumber = res.userNumber;
					if (userLoginFlag==1){
						var msg = $.zui.messager.show("【"+userNumber+"】已经注册过，可以前往找回密码", {
							placement: 'center',
							type: 'error',
							time: 3000
						});
					}

					if (userLoginFlag==2){
                        var msg = $.zui.messager.show('验证码已送达邮箱【'+userEmail+'】', {
                            placement: 'center',
                            type: 'success',
                            time: 3000
                        });
					}

				},
				error: function () {
					var msg = $.zui.messager.show('系统错误,联系管理员', {
						placement: 'center',
						type: 'success',
						time: 2000
					});
				},
			});
		} else {
			if (!flagNumber){
				var msg = $.zui.messager.show("学号错误", {
					placement: 'center',
					type: 'error',
					time: 2000
				});
			}
			if (!flagEmail){
				var msg = $.zui.messager.show("邮箱错误", {
					placement: 'center',
					type: 'error',
					time: 2000
				});
			}

		}


    }

    function SetRemainTime1() {
        if (curCount1 == 0) {
            window.clearInterval(InterValObj1); //停止计时器
            $("#get_code").removeAttr("disabled"); //启用按钮
            $("#get_code").val("重新发送");
        } else {
            curCount1--;
            $("#get_code").val(+curCount1 + "秒再获取");
        }
    }

    $(function () {

        checkData();


        $("#login-btn").click(function () {
            var user_name = $.trim($('#username').val());
            var user_password = $.trim($('#user_password').val());
            if (user_name != "" && user_password != "") {
                $.ajax({
                    // url:[[@{/a/loginAjax}]],
                    url: basePath + "/a/loginAjax",
                    dataType: "json",
                    type: "POST",
                    data: {
                        userNumber: user_name,
                        userPassword: user_password
                    },
                    success: function (res) {
                        console.log(res.userLoginFlag);
                        var userInfo = res.userInfo;
                        var userLoginFlag = res.userLoginFlag;


                        switch (userLoginFlag) {
                            case 0:
                                var msg = $.zui.messager.show("账号错误", {
                                    placement: 'center',
                                    type: 'success',
                                    time: 2000
                                });
                                break;
                            case 1:
                                var msg = $.zui.messager.show("密码错误", {
                                    placement: 'center',
                                    type: 'success',
                                    time: 2000
                                });
                                break;
                            case 2:
                                var msg = $.zui.messager.show("验证成功,等待跳转", {
                                    placement: 'center',
                                    type: 'success',
                                    time: 2000
                                });

                                var userInfoStr = JSON.stringify(userInfo);
                                Cookies.set('userInfo', userInfoStr, {
                                    expires: 7,
                                    path: '/'
                                }); //7天过期userId
                                var a = Cookies.get("userInfo");
                                console.log(JSON.parse(a));
                                window.location.href = basePath + "/a/index";

                                // var int = self.setInterval(function() { // 这个方法是说在延迟两秒后执行大括号里的方法
                                // 	window.location.href = "index.html"
                                // }, 2000) //这里2000代表两秒
                                break;
                            default:
                                var msg = $.zui.messager.show("联系管理员", {
                                    placement: 'center',
                                    type: 'success',
                                    time: 2000
                                });
                                break;
                        }


                        // var int = self.setInterval(function() { // 这个方法是说在延迟两秒后执行大括号里的方法
                        // 	window.location.href = "userPages/index.html"
                        // }, 2000) //这里2000代表两秒
                    },
                    error: function (e) {

                        var msg = $.zui.messager.show("系统错误", {
                            placement: 'center',
                            type: 'danger',
                            time: 2000
                        });

                    },
                });
            } else {
                var msg = $.zui.messager.show("账号或密码为空", {
                    placement: 'center',
                    type: 'warning',
                    time: 2000
                });
            }


        });





        $("#find-password").click(function () {
            var usercode2 = $.trim($('#usercode2').val());
            var useremail2 = $.trim($('#email2').val());
            // alert(usercode2 + useremail2)
            if (usercode2 != "" && useremail2 != "") {

                $.ajax({
                    url: "http://localhost:8881/user-info/findUser",
                    dataType: "json",
                    type: "get",
                    data: {
                        user_email: useremail2,
                        user_code: usercode2
                    },
                    success: function (res) {
                        var msg = $.zui.messager.show(res.msg, {
                            placement: 'center',
                            type: 'success',
                            time: 2000
                        });
                    },
                    error: function () {
                        var msg = $.zui.messager.show(res.msg, {
                            placement: 'center',
                            type: 'success',
                            time: 2000
                        });
                    },
                });
            } else {
                var msg = $.zui.messager.show("操作失败", {
                    placement: 'center',
                    type: 'success',
                    time: 2000
                });
            }
        });
    });
    var vm = new Vue({
        el: '#app',
        data: {
            loginshow: true,
            usershow: false,
            username: name
        },
        created: function () {

            this.loginfun();
        },
        methods: {
            loginfun: function () {
                var name = Cookies.get('name'); //获取cookie
                if (name == null) {
                    this.loginshow = true;
                    this.usershow = false;

                } else {
                    this.usershow = true;
                    this.loginshow = false;
                    this.username = name;

                }
            }

        }
    });

    function removeCookie() {
        Cookies.remove("name");
        var msg = $.zui.messager.show("退出成功", {
            placement: 'center',
            type: 'success',
            time: 2000
        });
        vm.loginfun();

    }


    function checkData() {


        // 找到所在标签元素
        var $user_name = $('#user_name')
        var $user_number = $('#user_number')
        var $pwd = $('#pwd')
        var $cpwd = $('#cpwd')
        var $phone = $('#user_phone')
        var $email = $('#email')
        var $code = $("#code")
        var $user_class = $('#user_class')
        var $user_state_class = $('#user_state_class')
        var $user_state = $('#user_state')

		// 身份状态
        $user_state.blur(function () {
            // 封装函数 调用函数
            fnState()
        })

        function fnState() {
            // 获取用户输入的数据
            var vals = $user_state.val()
            // 正则，正则验证用户输入的数据是否合法
            var re = /^[\u4e00-\u9fa5]{0,}$/g

            if (vals == '' || vals == 0 || vals == "0") {
                $user_state.next().show().html('身份不能为空')
                flagState = false
                return
            }
            if (re.test(vals)) {
                // 合法 -- 隐藏报错信息
                $user_state.next().hide()
                flagState = true
            } else {
                // 不合法 -- 报错 -- 下面的span标签显示
                $user_state.next().show().html('例如【*******】')
                flagState = false
            }
        }

        // 党课班级
        $user_state_class.blur(function () {
            // 封装函数 调用函数
            fnStateClass()
        })

        function fnStateClass() {
            // 获取用户输入的数据
            var vals = $user_state_class.val()
            // 正则，正则验证用户输入的数据是否合法
            var re = /^[\u4e00-\u9fa50-9]{0,}$/g

            if (vals == '') {
                $user_state_class.next().show().html('党课班级不能为空')
                flagStateClass = false
                return
            }
            if (re.test(vals)) {
                // 合法 -- 隐藏报错信息
                $user_state_class.next().hide()
                flagStateClass = true
            } else {
                // 不合法 -- 报错 -- 下面的span标签显示
                $user_state_class.next().show().html('未搜索到该班级，例如【*******】')
                flagStateClass = false
            }
        }

        // 专业班级
        $user_class.blur(function () {
            // 封装函数 调用函数
            fnUserClass()
        })

        function fnUserClass() {
            // 获取用户输入的数据
            var vals = $user_class.val()
            // 正则，正则验证用户输入的数据是否合法
            var re = /^[\u4e00-\u9fa50-9]{0,}$/g

            if (vals == '') {
                $user_class.next().show().html('班级不能为空')
                flagClass = false
                return
            }
            if (re.test(vals)) {
                // 合法 -- 隐藏报错信息
                $user_class.next().hide()
                flagClass = true
            } else {
                // 不合法 -- 报错 -- 下面的span标签显示
                $user_class.next().show().html('未搜索到该班级，例如【计科1801】')
                flagClass = false
            }
        }

        // 姓名
        $user_name.blur(function () {
            // 封装函数 调用函数
            fnCheckUser()
        })

        function fnCheckUser() {
            // 获取用户输入的数据
            var vals = $user_name.val()
            // 正则，正则验证用户输入的数据是否合法
            var re = /^[\u4e00-\u9fa5]{0,}$/g

            if (vals == '') {
                $user_name.next().show().html('姓名不能为空')
                flagUser = false
                return
            }
            if (re.test(vals)) {
                // 合法 -- 隐藏报错信息
                $user_name.next().hide()
                flagUser = true
            } else {
                // 不合法 -- 报错 -- 下面的span标签显示
                $user_name.next().show().html('姓名是汉字')
                flagUser = false
            }
        }

        // 用户学号
        $user_number.blur(function () {
            // 封装函数 调用函数
            fnCheckNumber()
        })

        function fnCheckNumber() {
            // 获取用户输入的数据
            var vals = $user_number.val()
            // 正则，正则验证用户输入的数据是否合法
            var re = /^\d{9,10}$/

            if (vals == '') {
                $user_number.next().show().html('账号不能为空')
                flagNumber = false
                return
            }
            if (re.test(vals)) {
                // 合法 -- 隐藏报错信息
                $user_number.next().hide()
                flagNumber = true
            } else {
                // 不合法 -- 报错 -- 下面的span标签显示
                $user_number.next().show().html('账号是9-10数字，输入为学号')
                flagNumber = false
            }
        }

        // 密码
        $pwd.blur(function () {
            // 封装函数，调用函数
            fnCheckPwd()
        })

        function fnCheckPwd() {
            // 获取密码框输入的数据
            var vals = $pwd.val()
            // 密码正则匹配表达式
            var rePass = /^[\w!-@#$%^&*]{6,20}$/
            // 如果输入框为空，则提示不能为空并return
            if (vals == '') {
                $pwd.next().show().html('密码不能为空')
                flagPwd = false
                return
            }
            // 正则验证密码输入是否合法
            if (rePass.test(vals)) {
                // 如果匹配成功，则隐藏span标签
                $pwd.next().hide()
                flagPwd = true
            } else {
                // 如果匹配失败，则显示span标签，替换提示信息
                $pwd.next().show().html('密码是6到20位字母、数字，还可包含@!#$%^&*-字符')
                flagPwd = false
            }
        }

        // 判断两次输入的密码是否一致
        $cpwd.blur(function () {
            // 封装函数，调用函数
            fnCheckCpwd()
        })

        function fnCheckCpwd() {
            // 获取重复密码框输入的数据
            var vals = $pwd.val()
            var cvals = $cpwd.val()
            if (cvals == '') {
                $cpwd.next().show().html('确认密码框不能为空')
                flagCpwd = false
                return
            }
            if (vals == cvals) {
                $cpwd.next().hide()
                flagCpwd = true
            } else {
                $cpwd.next().show().html('两次密码输入不一致，请重新输入')
                flagCpwd = false
                return
            }
        }

        // 邮箱
        $email.blur(function () {
            // 封装函数，调用函数
            fnCheckEmail()
        })

        function fnCheckEmail() {
            // 获取邮箱框输入的数据
            var vals = $email.val()
            // 邮箱正则匹配表达式
            var reMail = /^[a-z0-9][\w\.\-]*@[a-z0-9\-]+(\.[a-z]{2,5}){1,2}$/i
            // 如果输入框为空，则提示不能为空并return
            if (vals == '') {
                $('#emailTip').show().html('邮箱不能为空')
                flagEmail = false
                return
            }
            // 正则验证邮箱输入是否合法
            if (reMail.test(vals)) {
                // 如果匹配成功，则隐藏span标签
                $('#emailTip').hide()
                flagEmail = true
            } else {
                // 如果匹配失败，则显示span标签，替换提示信息
                $('#emailTip').show().html('你输入的邮箱格式不正确')
                flagEmail = false
            }
        }

        // 验证码
        $code.blur(function () {
            // 封装函数 调用函数
            fnCode()
        })

        function fnCode() {
            // 获取用户输入的数据
            var vals = $code.val()
            // 正则，正则验证用户输入的数据是否合法
            var re = /^\d{4}$/

            if (vals == '') {
                $code.next().show().html('验证码不能为空')
                flagCode = false
                return
            }
            if (re.test(vals)) {
                // 合法 -- 隐藏报错信息
                $code.next().hide()
                flagCode = true
            } else {
                // 不合法 -- 报错 -- 下面的span标签显示
                $code.next().show().html('验证码是4位数字')
                flagCode = false
            }
        }

        // 手机号码
        $phone.blur(function () {
			// 封装函数 调用函数
			fnPhone()
		})

		function fnPhone() {
			// 获取用户输入的数据
			var vals = $phone.val()
			// 正则，正则验证用户输入的数据是否合法
			var re = /^(13[0-9]|14[5|7]|15[0|1|2|3|4|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$/

			if (vals == '') {
				$phone.next().show().html('手机号码不能为空')
				flagPhone = false
				return
			}
			if (re.test(vals)) {
				// 合法 -- 隐藏报错信息
				$phone.next().hide()
				flagPhone = true
			} else {
				// 不合法 -- 报错 -- 下面的span标签显示
				$phone.next().show().html('请输入正确的手机号码')
				flagPhone = false
			}
		}

		// 6.所有输入框验证通过再提交注册
		/**
		 * var flagUser = false
		 var flagNumber = false
		 var flagPwd = false
		 var flagCpwd = false
		 var flagEmail = false
		 var flagCode = false
		 var flagPhone = false
		 var flagClass = false
		 var flagState = false
		 var flagStateClass = false
		 */
		$('#reg-account').click(function(){
			if(flagUser &&flagNumber&& flagPwd && flagCpwd && flagEmail &&flagCode&&flagPhone&&flagClass&&flagState&&flagStateClass ){
				postFromData();
			}
			else{
				alert("填写信息错误")
				return false
			}
		})

    }


    function postFromData(){
		// 获取表单的值
		var userName = $.trim($('#user_name').val());
		var userNumber = $.trim($('#user_number').val());
		var userPassword = $.trim($('#pwd').val());
		var userPhone = $.trim($('#user_phone').val());
		var userEmail = $.trim($('#email').val());
		var userEmailCheck = $.trim($('#code').val());
		var userClass = $.trim($('#user_class').val());
		var userStateClass = $.trim($('#user_state_class').val());
		var userState = $.trim($('#user_state').val());
		$.ajax({
			// url:[[@{/a/loginAjax}]],
			url: basePath + "/userEmail/userRegisterEmailCheck",
			dataType: "json",
			type: "POST",
			data: {
				userName: userName,
				userNumber:userNumber,
				userPassword: userPassword,
				userPhone:userPhone,
				userEmail:userEmail,
				userEmailCheck:userEmailCheck,
				userClass:userClass,
				userStateClass:userStateClass,
				userState:userState

			},
			success: function (res) {
				console.log(res);
				// var userInfo = res.userInfo;
				// var userLoginFlag = res.userLoginFlag;


				switch (res.userRegisterFlag) {
					case 1:
						var msg = $.zui.messager.show("验证失败，验证码错误", {
							placement: 'center',
							type: 'success',
							time: 2000
						});
						break;
					case -1:
						var msg = $.zui.messager.show("系统错误", {
							placement: 'center',
							type: 'success',
							time: 2000
						});
						break;
					case 2:
						var msg = $.zui.messager.show("验证成功,前往登录", {
							placement: 'center',
							type: 'success',
							time: 2000
						});
						break;
					default:
						var msg = $.zui.messager.show("联系管理员", {
							placement: 'center',
							type: 'success',
							time: 2000
						});
						break;
				}
			},
			error: function (e) {

				var msg = $.zui.messager.show("系统错误", {
					placement: 'center',
					type: 'danger',
					time: 2000
				});

			},
		});

	}
    // $(function() {
    // 	var elm = $('#app');
    // 	var startPos = $(elm).offset().top;
    // 	$.event.add(window, "scroll", function() {
    // 		var p = $(window).scrollTop();
    // 		$(elm).css('position', ((p) > startPos) ? 'fixed' : 'static');
    // 		$(elm).css('top', ((p) > startPos) ? '0px' : '');
    // 	});
    // });
</script>


</body>

</html>
